@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* 
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)
- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
  */

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(225, 100%, 94%);
    /* background-image: url(images/pattern-background-desktop.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%; */
}

.images {
    max-width: 100%;
}

.background__image {
    background-image: url(images/pattern-background-desktop.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: -20%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
}

.container {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: honeydew;
    box-shadow: 0px 2px 2px -0.5px rgba(0, 0, 0, 0.2);
    width: 380px;
    margin: 15px;
}

.price {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 0 10px 0 0;
    border-radius: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

p {
    color: gray;
    font-weight: 200;
}
.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

.btn-primary {
    border: none;
    box-shadow: 0px 12px 15px -5px #71786f;
    background-color: hsl(245, 75%, 52%);
    width: 250px;
    height: 40px;
    color: white;
    border-radius: 10px;
}

.btn-secondary {
    border: none;
    background-color: transparent;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    color: gray;
}

.paragraph {
    color: gray;
    font-weight: 200;
    margin: 0 30px 10px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 1;
}

@media (max-width: 600px) {
    .background__image {
        background-image: url(images/pattern-background-mobile.svg);
        position: absolute;
        background-repeat: no-repeat;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: -1;
    }
  }